body {
    background-color: white;
    color: black;
    display: block;
    font-family: Arial, sans-serif;
    height: 363px;
    padding-bottom: 35px;
    position: relative;
    width: 980px;
}

#top-bar {
    height: 30px;
    width: 980px;
}

#mainspace {
    height: 351px;
    width: 980px;
    margin-top: 89px;
}

#bottom-bar {
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    height: 40px;
    width: 980px;
}

.text-link {
    align-content: center;
    color: black;
    font-size: 13px;
    height: 15px;
    justify-content: center;
    opacity: 0.75;
    text-decoration: none;
}

.left {
    justify-items: left;
    padding-left: 15px;
}

.right {
    justify-items: right;
    padding-right: 15px;
}